<% @title="ユーザ情報編集" %>

<div class="form-container">
  <h1><%= @title %></h1>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="field">
      <%= f.label :image %>
      <% if @user.image.present? %>
        <p><%= image_tag @user.image_url(:thumb) %></p>
      <% else %>
        <p><%= image_tag 'default.png' %></p>
      <% end %>
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :nickname %>
      <%= f.text_field :nickname %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <small>※変更する場合のみ入力してください</small>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><small>※変更する場合のみ入力してください</small>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <small class="red">入力必須</small>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "変更する", class:"btn btn-success" %>
    </div>
  <% end %>

  <hr class="hr_01" />
  <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを削除します。本当によろしいですか?" }, method: :delete %>

  <%= link_to "戻る", :back, class: "btn btn-dark" %>
</div>
