<header class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark container">
      <%= link_to "webpp", root_path, class:"navbar-brand logo"  %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" >
        <ul class="nav navbar-nav ml-auto mr-auto">
          <li class="nav-item"><%= link_to "最新の投稿", "#", class:"nav-link" %></li>
          <li class="nav-item"><%= link_to "本を探す", "#", class:"nav-link" %></li>
          <li class="nav-item"><%= link_to "ユーザ一覧", users_path, class:"nav-link" %></li>
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to "マイページ", user_path(id: current_user.id), class:"nav-link"   %></li>
            <li class="nav-item"><%= link_to "ログアウト",  logout_path, class:"nav-link" %></li>
          <%else%>
            <li class="nav-item"><%= link_to "新規登録", signup_path, class:"nav-link" %></li>
            <li class="nav-item"><%= link_to "ログイン", login_path, class:"nav-link" %></li>
            <li class="nav-item">
              <form class="form-inline">
                <button class="btn btn-info" type="button">テストログイン</button>
              </form>
            </li>
          <% end %>
        </ul>
      </div>
  </nav>
</header>