<div class="post-container">
  <div class="post-field">
    <% if post.post_image.present? %>
      <p class="post-img"><%= image_tag post.post_image_url %></p>
    <% else %>
      <p class="post-img default-post-image"><%= image_tag 'no_image200.png' %></p>
    <% end %>
    <p class="title"><%= post.title %></p>
    <p><%= link_to post.title, post %></p>
  </div>
  <div class="middle-field">
    <% if post.comments.present? %>
      <div class="comment-icon">
      <i class="far fa-comment-alt comment-size">
        <span><%= post.comments.count %></span>
      </i>
      </div>
    <% end %>
    <div class="like" id="index_like_<%= post.id %>">
      <%= render 'likes/like', post: post %>
    </div>
  </div>
  <div class="bottom-field">
    <p><%= link_to post.user.nickname, post.user %></p>
    <%= link_to user_path(post.user) do %>
      <% if post.user.image.present? %>
        <p class="user_small_img"><%= image_tag post.user.image_url(:thumb300) %></p>
      <% else %>
        <p class="user_small_img default-user-image"><%= image_tag 'default.png' %></p>
      <% end %>
    <% end %>
  </div>
</div>