<%= render partial: 'shared/posts_tab' %>
<h1><%= @title %></h1>
<% if @layout == 'following_posts' %>
  <%= render partial: 'following_posts/search_form' %>
  <%= render partial: 'following_posts/genre_button' %>
<% else %>
  <%= render partial: 'posts/search_form' %>
  <%= render partial: 'posts/genre_button' %>
<% end %>
<ul class = "posts row" >
<% @posts.each do |post| %>
  <li class="col-lg-3 col-md-6 col-sm-6 justify-content-around">
    <%= render partial: 'shared/posts',locals: { post: post } %>
  </li>
<% end %>
</ul>
<%= paginate @posts %> 
