<% @title = @post.title %>

<h1><span>|| </span>投稿詳細</h1>

<div class="post-wrapper row">
  <% if @post.user == current_user %>
    <p class="edit col-12"><%= link_to "編集する", edit_post_path , class: "btn btn-info" %></p>
  <% else %>
    <div class="user-field col-12">
        <p><%= link_to @post.user.nickname, @post.user %></p>
        <% if @post.user.image.present? %>
          <p class="user_small_img"><%= image_tag @post.user.image_url(:thumb200) %></p>
        <% else %>
          <p class="user_small_img default-user-image"><%= image_tag 'default.png' %></p>
        <% end %>
      </div>
  <% end %>
  <div class="post-title col-md-11 col-10">
    <p class="title-top">タイトル</p>
    <h2><%= @post.title %></h2>
  </div>
  <div class="post-show-like col-md-1 col-2">
    <div class="like normal" id="show_like_<%= @post.id %>">
      <%= render 'likes/like', post: @post %>
    </div>
  </div>
  <p class="liked_users col-12"><%= link_to "いいねしたユーザ", liked_users_post_path(@post) %></p>
  <% if @post.post_image.present? %>
    <p class="post-image col-4"><%= image_tag @post.post_image_url %></p>
  <% else %>
    <p class="post-image col-4 default-post-image"><%= image_tag 'no_image200.png' %></p>
  <% end %>
  <table class="post-info col-8">
    <tr><th>著者</th><td><%= @post.author %></td></tr>
    <tr><th>出版社</th><td><%= @post.publisher %></td></tr>
    <tr><th>ジャンル</th><td><%= @post.genre_i18n %></td></tr>
    <tr><th>評価</th><td><%= @post.rating_i18n %></td></tr>
    <tr><th>読書時間</th><td><%= @post.hours_i18n %></td></tr>
    <tr><th>購入日</th><td><%= @post.purchase_date %></td></tr>
  </table>
  <div class="post-content-container col-12">
    <p class="post-content-top">感想</p>
    <p class="post-content"><%= @post.post_content %></p>
  </div>
</div>

<div class="comment-wrapper row">
  <h2 class="col-12">－コメント一覧－</h2>
  <div id="comments_area" class="col-12">
    <%= render partial: 'comments/index', locals: { comments: @comments } %>
  </div>
  <hr>
  <div class="comment-form col-12">
    <h2>コメントを書く</h2>
    <div id="error_explanation"></div>
    <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
  </div>
</div>




